<div class="container mx-auto justify-center text-center py-28 gap-y-6 grid">
  <div class="gap-y-4 grid">
    <p class="regular-semi-bold">Odkrywaj</p>
    <div class="grid gap-y-6">
      <h1>Znajdź Swój Relaks</h1>
      <p class="medium-normal">
        Odkryj najlepsze miejsca z saunami w Twojej okolicy i oddaj się
        ostatecznemu relaksowi.
      </p>
    </div>
  </div>
  <div class="flex-row justify-center gap-x-4">
    <button-full [text]="'Zaczynajmy'"></button-full>
    <button-transparent [text]="'Więcej'"></button-transparent>
  </div>
</div>
