<div class="container mx-auto justify-center py-20">
  <div class="flex-row gap-x-16">
    <p class="medium-bold self-center">
      Zaufane przez wiodące marki w całej Polsce.
    </p>
    <div class="flex-row gap-x-8">
      <img class="w-full" src="./../assets/sample-hotel-logo.png" />
      <img class="w-full" src="./../assets/sample-hotel-logo.png" />
      <img class="w-full" src="./../assets/sample-hotel-logo.png" />
      <img class="w-full" src="./../assets/sample-hotel-logo.png" />
      <img class="w-full" src="./../assets/sample-hotel-logo.png" />
    </div>
  </div>
</div>
