<div class="container mx-auto">
  <div class="flex flex-row h-screen col-2 gap-x-20">
    <div class="flex justify-center square-img">
      <img class="w-full aspect-square" src="./../assets/sekcja-2.jpg" />
    </div>
    <div class="col-1 flex-1 flex flex-col justify-center">
      <div class="gap-y-8">
        <div class="grid gap-y-4">
          <p class="regular-semi-bold">Odkryj</p>
          <div class="grid gap-y-6">
            <h1>Doświadcz korzyści saun</h1>
            <p class="medium-normal">
              Witaj na "Gdzie Na Sauny" – Twoim przewodniku po najlepszych
              saunach w okolicy. Nasza aplikacja zapewnia wygodny sposób na
              znalezienie saun w Twojej okolicy. Niezależnie od tego, czy
              szukasz relaksu, poprawy zdrowia, czy też chcesz spędzić czas z
              przyjaciółmi, u nas znajdziesz idealne miejsce. Rozpocznij swoją
              saunową przygodę już dziś!
            </p>
          </div>
        </div>
        <div class="flex flex-row gap-x-6">
          <div class="col-1 flex-1 flex flex-col gap-y-4">
            <a href="wygoda-icon"></a>
            <h6>Wygoda</h6>
            <p class="regular-normal">Łatwo znajdź sauny w Twojej okolicy.</p>
          </div>
          <div class="col-1 flex-1 flex flex-col gap-y-4">
            <a href="społecznosc-icon"></a>
            <h6>Społeczność</h6>
            <p class="regular-normal">
              Dołącz do społeczności miłośników saun i dziel się swoimi
              doświadczeniami.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="flex flex-row gap-x-6">
        <button-transparent [text]="'Zarejestruj Się'"></button-transparent>
      </div> -->
    </div>
  </div>
</div>
