<div class="container mx-auto justify-center py-28">
  <div class="flex flex-row col-2 gap-x-20">
    <div class="col-1 flex-1 flex flex-col justify-center">
      <h2>Pomoc w Odkrywaniu Nowych Miejsc z Saunami</h2>
    </div>
    <div class="flex-1 grid gap-y-6">
      <p class="medium-normal">
        Podziel się ulubionym miejscem z saunami lub zaproponuj nowe!
      </p>
      <div class="flex-row gap-x-4 pt-4">
        <button-full [text]="'Dodaj'"></button-full>
        <button-transparent [text]="'Zasugeruj'"></button-transparent>
      </div>
    </div>
  </div>
</div>
