<div class="background">
  <div class="container mx-auto justify-center py-28">
    <div class="flex flex-row col-2 gap-x-20">
      <div class="col-1 flex-1 flex flex-col">
        <h2>Znasz Miejsce, Którego Nie Możemy Przegapić?</h2>
      </div>
      <div class="flex-1 grid gap-y-6">
        <p class="medium-normal">
          Pomóż nam rozwijać naszą społeczność przez dzielenie się swoimi
          odkryciami. Jeśli znasz miejsce, które powinno znaleźć się na naszej
          stronie, daj nam znać! Użyj poniższego formularza, aby zasugerować
          obiekt. Czekamy na Twoje polecenia!
        </p>
        <button-full [text]="'Zasugeruj Obiekt'"></button-full>
      </div>
    </div>
  </div>
</div>
