<div class="container mx-auto py-28">
  <div class="flex flex-row gap-x-20">
    <div class="col-1 flex-1 flex flex-col justify-center gap-y-6">
      <h2>Odkryj Sauny w Twojej Okolicy</h2>
      <p class="medium-normal">
        Odpocznij i zregeneruj się w saunach w Twojej okolicy. Zapisz się już
        teraz!
      </p>
      <div class="flex-row gap-x-4 pt-4">
        <button-full [text]="'Zarejestruj się'"></button-full>
      </div>
    </div>
    <div class="flex-1 justify-center">
      <img class="w-full" src="./../assets/sekcja-3.jpg" />
    </div>
  </div>
</div>
