<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="grid gap-y-6">
    <h2>FAQs</h2>
    <p class="medium-normal">
      Frequently asked questions ordered by popularity. Remember that if the
      visitor has not committed to the call to action, they may still have
      questions (doubts) that can be answered.
    </p>
  </div>
  <div class="grid gap-y-12">
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">How do I use Sauna Spots?</p>
        <p class="medium-normal w-3/5">
          To use Sauna Spots, simply search for sauna spots in your area, view
          the details of each spot, and save your favorites. You can also sign
          up for our newsletter to stay updated on your favorite spots.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">What information is available?</p>
        <p class="medium-normal w-3/5">
          Sauna Spots provides information about each spot, including its
          location, facilities, reviews, and contact details. You can also see
          if a spot has been verified by the owner.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">How are spots verified?</p>
        <p class="medium-normal w-3/5">
          Spot owners have access to their own panel where they can add and edit
          information about their spot. Verified spots have been reviewed and
          approved by the owner.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">Can I add spots?</p>
        <p class="medium-normal w-3/5">
          Currently, only spot owners can add and manage spots on Sauna Spots.
          However, you can suggest a spot to the owner or contact us if you have
          a recommendation.
        </p>
      </div>
    </div>
    <div class="gap-y-6 grid">
      <div class="gap-y-4 grid">
        <h4>Still have questions?</h4>
        <p class="medium-normal">Contact us for further assistance.</p>
      </div>
      <button-transparent [text]="'Kontakt'"></button-transparent>
    </div>
  </div>
</div>
