<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="grid gap-y-6">
    <h2>FAQs</h2>
    <p class="medium-normal">
      Często zadawane pytania zamówione według popularności.Pamiętaj, że jeśli
      odwiedzający nie zobowiązał się do wezwania do działania, nadal może mieć
      Pytania (wątpliwości), na które można odpowiedzieć.
    </p>
  </div>
  <div class="grid gap-y-12">
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">Jak używać miejsc w saunie?</p>
        <p class="medium-normal w-3/5">
          Aby użyć miejsc w saunie, po prostu wyszukaj plamy w saunie w swojej
          okolicy, zobacz Szczegóły każdego miejsca i zapisz ulubione.Możesz
          także podpisać Do naszego biuletynu, aby być na bieżąco z ulubionymi
          miejscami.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">Jakie informacje są dostępne?</p>
        <p class="medium-normal w-3/5">
          Sauna plamy zawierają informacje o każdym miejscu, w tym jego
          Lokalizacja, obiekty, recenzje i dane kontaktowe.Możesz także zobaczyć
          Jeśli właściciel został zweryfikowany przez właściciela.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">Jak weryfikowane są miejsca?</p>
        <p class="medium-normal w-3/5">
          Właściciele punktów mają dostęp do własnego panelu, w którym mogą
          dodawać i edytować informacje o ich miejscu.Zweryfikowane miejsca
          zostały przejrzane i zatwierdzony przez właściciela.
        </p>
      </div>
    </div>
    <div>
      <hr class="border-black pb-6" />
      <div class="flex-row gap-x-16">
        <p class="medium-bold w-2/5">Czy mogę dodać plamy?</p>
        <p class="medium-normal w-3/5">
          Obecnie tylko właściciele punktów mogą dodawać i zarządzać miejscami w
          miejscach w saunie. Możesz jednak zasugerować miejsce właścicielowi
          lub skontaktować się z nami, jeśli masz Rekomendacja.
        </p>
      </div>
    </div>
    <div class="gap-y-6 grid">
      <div class="gap-y-4 grid">
        <h4>Nadal masz pytania?</h4>
        <p class="medium-normal">
          Skontaktuj się z nami w celu uzyskania dalszej pomocy.
        </p>
      </div>
      <button-transparent [text]="'Kontakt'"></button-transparent>
    </div>
  </div>
</div>
