<header>
  <div class="container mx-auto">
    <div class="flex flex-row items-center">
      <div class="lg:flex lg:flex-1 lg:justify-start" routerLink="">Logo</div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a class="regular-normal" routerLink="/odkrywaj">Odkrywaj Sauny</a>
        <a class="regular-normal" routerLink="/dodaj-obiekt"
          >Udostępnij Obiekt</a
        >
      </div>
      <div class="lg:flex lg:flex-1 lg:justify-end">
        <button routerLink="/logowanie">Zaloguj Się</button>
      </div>
    </div>
  </div>
</header>
