header {
  display: flex;
  width: auto;
  height: 72px;
  padding: 0px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  background: var(--Background, #f5efe7);
}

button {
  padding: 7px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Primary, #c7b299);
  color: var(--primary-200, #a9957d);
}
