.logo {
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

svg {
  transition: transform 0.3s ease;
}

svg:hover {
  transform: scale(1.2);
}

h5:hover,
svg:hover {
  cursor: pointer;
}
