<div class="container mx-auto grid gap-y-16">
  <div class="grid gap-y-20">
    <div class="col-1 flex-1 flex flex-col justify-center gap-y-4">
      <p class="p-regular-semi-bold text-center">Artykuły</p>
      <div class="grid gap-y-6">
        <h2 class="text-center">Odkryj Świat Saun</h2>
        <p class="p-medium-normal text-center">
          Bądź na bieżąco z informacjami na temat saun i trendów w dziedzinie
          wellness.
        </p>
      </div>
    </div>
    <div class="flex flex-row col-3 gap-x-8">
      <div class="col-1 flex-1 flex flex-col justify-center gap-y-6">
        <img class="w-full" src="./../assets/sample.png" />
        <div class="grid gap-y-4">
          <div class="flex-row gap-x-4">
            <p class="p-small-semi-bold hashtag">Sauna</p>
            <p class="p-small-semi-bold time-to-read">5 min read</p>
          </div>
          <div class="gap-y-2">
            <h5>The Benefits of Regular Sauna Sessions</h5>
            <p class="p-regular-normal">
              Learn why regular sauna sessions are beneficial for your health
            </p>
          </div>
        </div>
      </div>
      <div class="col-1 flex-1 flex flex-col justify-center gap-y-6">
        <img class="w-full" src="./../assets/sample.png" />
        <div class="grid gap-y-4">
          <div class="flex-row gap-x-4">
            <p class="p-small-semi-bold hashtag">Sauna</p>
            <p class="p-small-semi-bold time-to-read">5 min read</p>
          </div>
          <div class="gap-y-2">
            <h5>The Benefits of Regular Sauna Sessions</h5>
            <p class="p-regular-normal">
              Learn why regular sauna sessions are beneficial for your health
            </p>
          </div>
        </div>
      </div>
      <div class="col-1 flex-1 flex flex-col justify-center gap-y-6">
        <img class="w-full" src="./../assets/sample.png" />
        <div class="grid gap-y-4">
          <div class="flex-row gap-x-4">
            <p class="p-small-semi-bold hashtag">Sauna</p>
            <p class="p-small-semi-bold time-to-read">5 min read</p>
          </div>
          <div class="gap-y-2">
            <h5>The Benefits of Regular Sauna Sessions</h5>
            <p class="p-regular-normal">
              Learn why regular sauna sessions are beneficial for your health
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="justify-center flex">
    <button-transparent [text]="'Więcej'"></button-transparent>
  </div>
</div>
