<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="grid gap-y-6">
    <h2>FAQs</h2>
    <p class="medium-normal">
      Znajdź odpowiedzi na często zadawane pytania dotyczące tego miejsca w
      saunie.
    </p>
  </div>
  <div class="grid gap-y-5">
    <div *ngFor="let item of items; let i = index">
      <hr class="border-black pb-5" />
      <div class="flex-row justify-between" (click)="toggleText(i)">
        <p class="medium-bold">{{ item.title }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z"
            fill="#4D4D4D"
          />
        </svg>
      </div>
      <div *ngIf="item.isExpanded">
        <p>{{ item.content }}</p>
      </div>
    </div>
    <hr class="border-black" />
  </div>
  <!-- <div class="gap-y-6 grid">
    <div class="gap-y-4 grid">
      <h4>Nadal mam pytania?</h4>
      
    </div>
    <button-transparent [text]="'Kontakt'"></button-transparent>
  </div> -->
</div>
