<div class="container mx-auto h-screen gap-y-20 justify-center grid">
  <div class="flex-1 justify-center">
    <img class="w-full" src="./../assets/details-main-placeholder-img.png" />
  </div>
  <div class="gap-y-6 grid pb-20 text-center">
    <h1>Raj relaksu</h1>
    <p class="medium-normal">
      Odkryj ostateczne doświadczenie w saunie w spokojnym i luksusowym
      otoczeniu.
    </p>
    <div class="flex-row gap-x-2 justify-center">
      <p class="p-small-semi-bold hashtag self-center">Tag one</p>
      <p class="p-small-semi-bold hashtag self-center">Tag two</p>
      <p class="p-small-semi-bold hashtag self-center">Tag three</p>
    </div>
  </div>
</div>

<div class="container mx-auto py-28">
  <div class="flex-row gap-x-20">
    <div class="w-1/2">
      <h2>Odkryj ostateczną saunę</h2>
      <p class="regular-normal">
        Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id
        scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit
        elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque
        amet nulla purus habitasse. Nunc sed faucibus bibendum feugiat sed
        interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra
        consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis
        lobortis at sit dictum eget nibh tortor commodo cursus. Odio felis
        sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam
        elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum.
        Aliquam senectus neque ut id eget consectetur dictum. Donec posuere
        pharetra odio consequat scelerisque et, nunc tortor. Nulla adipiscing
        erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.
      </p>
    </div>
    <div class="w-1/2">
      <img class="w-full" src="./../assets/sample.png" />
    </div>
  </div>
</div>

<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="text-center gap-y-6 grid">
    <h2>Galeria sauny</h2>
    <p class="medium-normal">Poznaj różne obszary naszego miejsca w saunie</p>
  </div>
  <div class="flex-row gap-x-8 justify-center">
    <div class="w-1/2">
      <img class="w-full h-full" src="./../assets/sample.png" />
    </div>
    <div class="grid grid-cols-2 gap-8 w-1/2">
      <img class="w-full" src="./../assets/sample.png" />
      <img class="w-full" src="./../assets/sample.png" />
      <img class="w-full" src="./../assets/sample.png" />
      <img class="w-full" src="./../assets/sample.png" />
    </div>
  </div>
</div>

<details-recommendations></details-recommendations>
<details-faq></details-faq>
<details-contact></details-contact>
<details-blog></details-blog>
<div class="container mx-auto justify-center py-28">
  <div class="flex-row col-2 gap-x-20">
    <div class="col-1 flex-1 flex flex-col">
      <h1>Odkryj ostateczne doświadczenie w saunie</h1>
    </div>
    <div class="flex-1 grid gap-y-6">
      <p class="medium-normal">
        Oddawać się relaksującym i detoksykacyjnym korzyściom z naszego
        najnowocześniejszego Sauny.Zarezerwuj wizytę lub dodaj to miejsce do
        swoich ulubionych, aby być na bieżąco O najnowszych ofertach i
        promocjach.
      </p>
      <div class="flex-row gap-x-4 pt-4">
        <button-full [text]="'Sprawdź jak dojechać'"></button-full>
        <button-transparent
          routerLink="/rejestracja"
          [text]="'Dodaj do ulubionych'"
        ></button-transparent>
      </div>
    </div>
  </div>
</div>
<div class="background-img">
  <div class="container py-28 items-center">
    <h2>Bądź na bieżąco z Sauna News</h2>
    <p class="medium-normal pt-6 pb-4">
      Subskrybuj nasz biuletyn, aby uzyskać najnowsze aktualizacje i oferty
      specjalne.
    </p>
    <div class="flex-row gap-x-4 pt-4">
      <input type="text" class="input w-1/4" placeholder="Wpisz swój Email" />
      <button-full [text]="'Zapisz się'"></button-full>
    </div>
    <p class="tiny-normal pt-4">
      Rejestrując się, zgadzasz się na nasze warunki.
    </p>
  </div>
</div>
