.arrow-left,
.arrow-right {
  width: fit-content;
  height: fit-content;
  padding: 12px;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid var(--primary-200);
}

.arrow-left:hover,
.arrow-right:hover {
  background: var(--Primary);
}

.arrow-left:active,
.arrow-right:active {
  background: var(--primary-200);
}

.avatar-img {
  width: 56px;
  height: 56px;
  border-radius: 56px;
}
