<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="gap-y-4 grid">
    <p class="regular-semi-bold">Obiekty</p>
    <div class="gap-y-6 grid">
      <h2>Tu będzie filtrowanie</h2>
      <p class="medium-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>
  <div>
    <div *ngFor="let item of displayedItems">
      <hr class="border-black" />
      <div class="py-11 flex-row flex gap-x-20">
        <div class="flex-1 justify-center">
          <img class="w-full" [src]="item.imageUrl" />
        </div>
        <div class="col-1 flex-1 flex flex-col justify-center gap-y-2">
          <h4>{{ item.projectName }}</h4>

          <p class="regular-normal">Lokalizacja: {{ item.location }}</p>

          <p class="regular-normal pt-16">
            {{ item.description }}
          </p>
          <div class="flex-row gap-x-2">
            <p class="p-small-semi-bold hashtag" *ngFor="let tag of item.tags">
              {{ tag }}
            </p>
          </div>
          <!-- <p class="regular-normal" *ngIf="item.specialOffers">
            Oferty: {{ item.specialOffers }}
          </p> -->
          <div class="justify-start pt-12">
            <button [routerLink]="['/details', item.id]">Zobacz</button>
          </div>
          <!-- <p class="regular-normal" *ngIf="item.bookingInfo">
            Rezerwacja: {{ item.bookingInfo }}
          </p> -->
          <!-- <div *ngIf="item.logoUrl">
            <img [src]="item.logoUrl" class="logo-size" />
          </div> -->
        </div>
      </div>
    </div>

    <div class="justify-center grid pt-16">
      <button (click)="loadMoreItems()">Więcej</button>
    </div>
  </div>
</div>
