<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="col-1 flex-1 flex flex-col justify-center text-center gap-y-4">
    <p class="regular-semi-bold">Kontakt</p>
    <div class="grid gap-y-6">
      <h2>Skontaktuj się</h2>
      <p class="medium-normal">
        Masz pytania lub opinię? Chcielibyśmy usłyszeć od ciebie!
      </p>
    </div>
  </div>
  <div class="col-1 flex-1 flex flex-col justify-center items-center gap-y-6">
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">Nazwa</p>
      <input
        type="text"
        id="fullNameInput"
        class="input"
        placeholder="Wpisz swoje imię i nazwisko"
      />
    </div>
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">E-mail</p>
      <input
        type="email"
        id="emailInput"
        class="input"
        placeholder="Wpisz swój email"
      />
    </div>
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">Wiadomość</p>
      <textarea
        class="input"
        id="messageTextarea"
        placeholder="Wpisz swoją wiadomość..."
      ></textarea>
    </div>

    <button-full [text]="'Wyślij'"></button-full>
  </div>
</div>
