<div class="container mx-auto py-28 gap-y-20 grid">
  <div class="col-1 flex-1 flex flex-col justify-center text-center gap-y-4">
    <p class="regular-semi-bold">Kontakt</p>
    <div class="grid gap-y-6">
      <h2>Skontaktuj się</h2>
      <p class="medium-normal">
        Masz pytania lub opinię?Chcielibyśmy usłyszeć od ciebie!
      </p>
    </div>
  </div>
  <div class="col-1 flex-1 flex flex-col justify-center items-center gap-y-6">
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">Nazwa</p>
      <p class="input">Imię i Nazwisko</p>
    </div>
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">E-mail</p>
      <p class="input">Adres E-mail</p>
    </div>
    <div class="w-1/2 gap-y-2 grid">
      <p class="regular-normal">Wiadomość</p>
      <p class="text-area">Wpisz swoją wiadomość...</p>
    </div>

    <button-full [text]="'Button'"></button-full>
  </div>
</div>
