<div class="container mx-auto h-screen py-28 gap-y-20 grid">
  <div class="col-1 flex-1 flex flex-col justify-center text-center gap-y-4">
    <!-- <div class="grid gap-y-6">
      <h2>Cześć!</h2>
      <p class="medium-normal">
        Wprowadź szczegóły poniżej, aby się zarejestrować.
      </p>
    </div> -->
  </div>
  <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register()">
    <div class="col-1 flex-1 flex flex-col justify-center items-center gap-y-6">
      <div class="w-1/2 gap-y-2 grid">
        <p class="regular-normal">Imię i nazwisko</p>
        <input
          formControlName="name"
          type="text"
          id="fullNameInput"
          class="input"
          placeholder="Wpisz swoje imię i nazwisko"
        />
      </div>
      <div class="w-1/2 gap-y-2 grid">
        <p for="email" class="regular-normal">E-mail</p>
        <input
          formControlName="email"
          type="email"
          id="emailInput"
          class="input"
          placeholder="Wpisz swój email"
        />
        <div
          *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
          class="error"
        >
          Email jest wymagany.
        </div>
        <div
          *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
          class="error"
        >
          Wpisz poprawny adres email.
        </div>
      </div>
      <div class="w-1/2 gap-y-2 grid">
        <p class="regular-normal">Hasło</p>
        <input
          formControlName="password"
          type="password"
          id="passwordInput"
          class="input"
          placeholder="Wpisz hasło"
        />
        <div
          *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched"
          class="error"
        >
          Hasło jest wymagane.
        </div>
        <div
          *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched"
          class="error"
        >
          Hasło musi zawierać co najmniej 6 znaków.
        </div>
      </div>
      <button-full
        [disabled]="registerForm.invalid"
        [text]="'Utwórz konto'"
      ></button-full>
      <!-- Opcjonalnie, wyświetl komunikat o błędzie logowania -->
      <div *ngIf="error" class="alert alert-danger">
        {{ error }}
      </div>
      <div class="flex-row gap-x-2 w-1/2 justify-center items-center">
        <hr class="border-black w-full" />
        <p class="small-normal text-nowrap">Lub kontynuuj</p>
        <hr class="border-black w-full" />
      </div>

      <button-full
        [text]="'** Tutaj będzie logowanie przez Google **'"
      ></button-full>
      <button-full
        [text]="'** Tutaj będzie logowanie przez Apple **'"
      ></button-full>
      <div class="w-1/2 flex-row gap-x-1 justify-center">
        <p class="small-normal">Posiadasz już konto?</p>
        <a href="/logowanie" class="small-semi-bold">Zaloguj się</a>
      </div>
    </div>
  </form>
</div>
