/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  :root {
    --Background: #f5efe7;
    --Text: #4d4d4d;
    --Primary: #c7b299;
    --primary-200: #a9957d;
    --hover: #a07e55;
    --active: #71523d;
  }

  body {
    background: var(--Background, #f5efe7);
    font-family: Roboto;
    color: var(--Text, #4d4d4d);
    font-style: normal;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
  }

  h3 {
  }

  h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
  }

  h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
  }

  h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
  }

  p {
    align-self: stretch;

    /* Text/Medium/Normal */
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .medium-normal {
    /* Text/Medium/Normal */
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .medium-bold {
    /* Text/Medium/Bold */
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 27px */
  }

  .regular-normal {
    /* Text/Regular/Normal */
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .regular-link {
    /* Text/Regular/Link */
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .regular-semi-bold {
    /* Text/Regular/Semi Bold */
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .small-normal {
    /* Text/Small/Normal */
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .small-semi-bold {
    /* Text/Small/Semi Bold */
    font-size: 14px;
    font-weight: 600;
    line-height: 150%; /* 21px */
  }

  .tiny-normal {
    /* Text/Tiny/Normal */
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }

  button {
    /* Text/Regular/Normal */
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border-radius: 3px;
  }

  .hashtag {
    background: var(--Primary, #c7b299);
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
  }

  .input {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border: 1px solid #000;
    background: var(--Background, #f5efe7);
  }

  .text-area {
    display: flex;
    height: 180px;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid var(--Text, #4d4d4d);
    background: var(--Background, #f5efe7);
  }

  button:hover {
    background: var(--hover, #a07e55);
    color: var(--Background, #f5efe7) !important;
    transition: 0.12s cubic-bezier(0.2, 0, 0.4, 0.8);
  }

  button:active {
    background: var(--active, #71523d);
    color: var(--Background, #f5efe7) !important;
  }
}
